<div id="contenitoreMessaggi" *ngIf="dataSourceFiltered.length > 0; else nessunRisultato">
  <table mat-table matSort [dataSource]="dataSourceFiltered">
    <!-- Intestazione della tabella -->
    <ng-container matColumnDef="messaggio">
      <td mat-header-cell *matHeaderCellDef class="title-table" align="center"> Comunicazioni lette </td>
      <td mat-cell *matCellDef="let element">
        <span id="labelMessaggi">
          Inizio validità: {{ element.dataInizio | date: 'dd/MM/yyyy' }} - Fine Validità: {{ element.dataFine | date: 'dd/MM/yyyy' }}
        </span>
        <br>
        {{ truncateText(element.messaggio, 30) }}
      </td>
    </ng-container>

    <!-- Definizione righe della tabella -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewComunicazioneLetta(row.id)"></tr>
  </table>
</div>

<div id="contenitoreMessaggi" *ngIf="dataSourceFiltered2.length > 0; else nessunRisultato2">
  <table mat-table matSort [dataSource]="dataSourceFiltered2">
    <!-- Intestazione della tabella -->
    <ng-container matColumnDef="messaggio">
      <td mat-header-cell *matHeaderCellDef style="background-color:#2f6dd5;font-size: 20px;color:white" align="center"> Comunicazioni non lette </td>
      <!-- <td mat-header-cell *matHeaderCellDef style="background-color:#4cb0ff;font-size: 20px;color:white" align="center"> Comunicazioni non lette </td> -->
      <td mat-cell *matCellDef="let element">
        <span id="labelMessaggi">
          Inizio validità: {{ element.dataInizio | date: 'dd/MM/yyyy' }} - Fine Validità: {{ element.dataFine | date: 'dd/MM/yyyy' }}
        </span>
        <br>
        {{ truncateText(element.messaggio, 30) }}
      </td>
    </ng-container>

    <!-- Definizione righe della tabella -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewComunicazioneNonLetta(row.id)"></tr>
  </table>
</div>


<!-- Caso nessun risultato -->
<ng-template #nessunRisultato>
  <div class="rotation-div" style="width:100%;">
    <p *ngIf="dataSourceFiltered.length <= 0" class="title-table" align="center">Comunicazioni lette</p>
    <p class="nessuna-corr" style="text-align:center; font-size: 25px;">
      Nessun risultato
    </p>
  </div>
</ng-template>

<!-- Caso nessun risultato commesse non lette-->
<ng-template #nessunRisultato2>
  <br><br>
  <div class="rotation-div" style="width:100%;">
    <p *ngIf="dataSourceFiltered2.length <= 0" class="title-table" align="center">Comunicazioni non lette</p>
    <p class="nessuna-corr" style="text-align:center; font-size: 25px;">
      Nessun risultato
    </p>
  </div>
</ng-template>
