.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.12);
}


#contenitoreMessaggi td.mat-cell.cdk-cell.cdk-column-messaggio.mat-column-messaggio{
  color:black !important;
}

#labelMessaggi{
  color:rgba($color: #000000, $alpha: 0.5)
}

.title-table{
  background-color:#2f6dd5;
  font-size: 20px;
  color:white;
  text-align: center;
  padding: 5px;
  margin: 0px;
  height: 56px;
  vertical-align: baseline;
}
