<configuration>
  <appSettings>
    <add key="MS_SIRICOAPI" value="http://localhost:5250/api/" />
    <add key="CARTELLA_CONTENZIOSI_CRITICITA" value="#ContenziosiCriticita#" />
    <add key="CARTELLA_CONTENZIOSI_DATI_GENERALI" value="ContenziosiDatiGenerali" />
    <add key="CARTELLA_PRODOTTI_CRITICITA" value="ContenziosiDatiGenerali" />
    <add key="CARTELLA_PRODOTTI_DATI_GENERALI" value="ProdottiDatiGenerali" />
    <add key="DIMENSIONEMB" value="5" />
    <add key="FILEAMMINISTRATIVO" value="FileAmministrativo" />
    <add key="FILEAMMINISTRATORE" value="FileAmministratore" />
    <add key="FILEPROVINCIALE" value="FileProvinciale" />
    <add key="FILEREGIONALE" value="FileRegionale" />
    <add key="PATHGENERICO" value="C:/SiricoNew/" />
    <add key="TIPOESTENSIONE" value=".doc,.docx,.xls,.xlsx,.pdf,.jpg,.jpeg,.bmp,.png" />
    <add key="MS_SiricoGatewayClient" value="http://localhost:5250"/>
  </appSettings>
  <system.webServer>
    <!-- Specifica il modulo di gestione ASP.NET Core -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- Configura il processo di avvio dell'app ASP.NET Core -->
    <!-- hostingModel="inprocess", significa che l’app ASP.NET Core viene eseguita direttamente dentro IIS, migliorando prestazioni e riducendo 
         la complessità della comunicazione tra processi.-->
    <aspNetCore processPath="dotnet" arguments=".\INPS-MG-WebAppSirico.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
