<div class="matero-user-panel" fxLayout="column" fxLayoutAlign="center center">
  <div class="row row-container-select-ruolo"
       style="justify-content: center; align-items: center;">
    <div class="col-8 d-flex" style="justify-content: center; align-items: center;"
         id="conteiner-switch-ruolo">
      <mat-form-field appearance="fill" *ngIf="this.isAmministratore">
        <mat-label>Sezione</mat-label>
        <select matNativeControl required
                #ruoloSelect
                (change)='onRuoloSelected(ruoloSelect.value)'>
          <option value="dirigente">Gestione</option>
          <option value="amministratore">Amministrazione</option>

        </select>
      </mat-form-field>
    </div>
  </div>
</div>

<!--img class="matero-user-panel-avatar" [src]="user.avatar" alt="avatar" width="64"-->

<!--h4 class="matero-user-panel-name">{{ user.name }}</h4-->
<!--h5 class="matero-user-panel-email">{{ user.email }}</h5-->
<!--div class="matero-user-panel-icons">
        <a routerLink="/profile/overview" mat-icon-button>
          <mat-icon class="icon-18">account_circle</mat-icon>
        </a>
        <a routerLink="/profile/settings" mat-icon-button>
          <mat-icon class="icon-18">settings</mat-icon>
        </a>
        <a (click)="logout()" mat-icon-button>
          <mat-icon class="icon-18">exit_to_app</mat-icon>
        </a!>
      </div-->
