<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url="^(?!.*\.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|json)$).*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <!-- Aggiunto supporto per .woff e .woff2 -->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store" />
        <add name="Pragma" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
      <add key="MS_SIRICOAPI" value="#{MS_SIRICOAPI}#" />
      <add key="CARTELLA_CONTENZIOSI_CRITICITA" value="#{CARTELLA_CONTENZIOSI_CRITICITA}#" />
      <add key="CARTELLA_CONTENZIOSI_DATI_GENERALI" value="#{CARTELLA_CONTENZIOSI_DATI_GENERALI}#" />
      <add key="CARTELLA_PRODOTTI_CRITICITA" value="#{CARTELLA_PRODOTTI_CRITICITA}#" />
      <add key="CARTELLA_PRODOTTI_DATI_GENERALI" value="#{CARTELLA_PRODOTTI_DATI_GENERALI}#" />
      <add key="DIMENSIONEMB" value="#{DIMENSIONEMB}#" />
      <add key="FILEAMMINISTRATIVO" value="#{FILEAMMINISTRATIVO}#" />
      <add key="FILEAMMINISTRATORE" value="#{FILEAMMINISTRATORE}#" />
      <add key="FILEPROVINCIALE" value="#{FILEPROVINCIALE}#" />    
      <add key="FILEREGIONALE" value="#{FILEREGIONALE}#" />
      <add key="PATHGENERICO" value="#{PATHGENERICO}#" />
      <add key="TIPOESTENSIONE" value="#{TIPOESTENSIONE}#" />
      <add key="MS_SiricoGatewayClient" value="#{MS_SiricoGatewayClient}#"/>
  </appSettings>
</configuration>
