<div class="display-title">
  <div>
    <h3><span class="top-title">Data Invio</span>
    <span class="sub-title">{{dataInvio}}</span></h3>
  </div>
  <div>
    <h3><span class="top-title">Tipologia Contezioso</span>
    <span class="sub-title">{{nomeContenzioso}}</span></h3>
  </div>
  <div>
    <h3><span class="top-title">Settore/Materia</span>
    <span class="sub-title">{{nomeSettoreMateria}}</span></h3>
  </div>
  <div>
    <h3><span class="top-title">Area/Prodotto</span>
    <span class="sub-title">{{nomeAreaProdotto}}</span></h3>
  </div>
  <div>
    <h3><span class="top-title">Sede</span>
    <span class="sub-title">{{nomeSede}}</span></h3>
  </div>
</div>

<p><mat-icon class="main-ico">build</mat-icon>{{aspettoContezioso[0]?.nomeAspetto}}</p>

<div class="container-data">
  <button mat-button (click)="toggleAllegatiAspetto()" [disabled]="isFileAspetto || statoSegnalazione == 5">
    <mat-icon>attach_file</mat-icon> Inserisci Allegato
  </button>
</div>

<div class="container-data" *ngIf="showGestioneFileAspetto ">
  <app-gestione-file
    [idAspetto]="idAspettoSegnalazione"
    (fileEvents)="onFilesAddedAspetto($event.file)"
    (fileRemovedEvents)="removeFileAspetto($event)">
  </app-gestione-file>
  <button mat-button (click)="allegaFileAspetto()"  class="btn-conferma" [disabled]="!fileAspetto"><mat-icon>cloud_upload</mat-icon>
    Allega
  </button>
</div>
<br>
<div class="progress-container" *ngIf="isUploading">
  <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
  <p>File inviato con successo!</p>
</div>

<br>

  <form [formGroup]="form1">
    <table mat-table [dataSource]="aspettoContezioso">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'background-nuovAsp': row.nuovoAspetto === true}"></tr>

      <ng-container matColumnDef="criticita">
        <th mat-header-cell *matHeaderCellDef>Criticitá</th>
        <td mat-cell *matCellDef="let element">
          <ng-container>
            <textarea matInput
             [style.width.%]="99"
            [style.height.px]="150"
            [rows]="10"
            [cols]="40"
            formControlName="criticita" readonly></textarea>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="suggerimento">
        <th mat-header-cell *matHeaderCellDef>Suggerimento</th>
        <td mat-cell *matCellDef="let element">
          <ng-container>
            <textarea matInput
               [style.width.%]="99"
              [style.height.px]="150"
              [rows]="10"
              [cols]="40"
              formControlName="suggerimento"
              readonly>
            </textarea>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="integrazioneDR">
        <th mat-header-cell *matHeaderCellDef>Integrazione DR</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="hasValidRole(ruolo) || ruolo.includes('P12690')">
            <textarea matInput
               [style.width.%]="99"
              [style.height.px]="150"
              [rows]="10"
              [cols]="40"
              [readonly]="true"
              [value]="element.integrazioneDR ? element.integrazioneDR : messaggioDR">
            </textarea>
          </ng-container>

          <ng-container *ngIf="ruolo !== 'P12690'">
            <ng-container *ngIf="!element.integrazioneDR">
              <textarea matInput *ngIf="ruolo !== 'P12690' && isRegionaleAbilitato"
                 [style.width.%]="99"
                [style.height.px]="150"
                [rows]="10"
                [cols]="40"
                formControlName="inputNoteDR">
              </textarea>
            </ng-container>

            <ng-container *ngIf="element.integrazioneDR && (ruolo !== 'P12690' && isRegionaleAbilitato) || ruolo === 'P12689'">
                <textarea matInput
                   [style.width.%]="99"
                  [style.height.px]="150"
                  [rows]="10"
                  [cols]="40"
                  formControlName="inputNoteDR"
                ></textarea>
            </ng-container>

          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="integrazioneDC">
        <th mat-header-cell *matHeaderCellDef>Integrazione DC</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="hasValidRole(ruolo) || ruolo.includes('P12799')">
            <textarea matInput
               [style.width.%]="99"
              [style.height.px]="150"
              [rows]="10"
              [cols]="40"
              [readonly]="true"
              [value]="element.integrazioneDC ? element.integrazioneDC : messaggioDC">
            </textarea>
          </ng-container>

          <ng-container *ngIf="ruolo !== 'P12799'">
          <!-- <ng-container *ngIf="ruolo !== 'P12799'"> -->
            <ng-container *ngIf="!element.integrazioneDC && (ruolo !== 'P12799' && ruolo !== 'P12799; P12801')">
              <textarea matInput
                 [style.width.%]="99"
                [style.height.px]="150"
                [rows]="10"
                [cols]="40"
                formControlName="inputNoteDC">
              </textarea>
            </ng-container>

            <ng-container *ngIf="element.integrazioneDC && (ruolo !== 'P12799' && ruolo !== 'P12799; P12801')">
                <textarea matInput
                   [style.width.%]="99"
                  [style.height.px]="150"
                  [rows]="10"
                  [cols]="40"
                  formControlName="inputNoteDC">
                </textarea>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

    </table>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close class="btn-back"><mat-icon>arrow_back</mat-icon>Torna indietro</button>
      <button mat-button *ngIf="(ruolo.includes('P12690') && ruolo.includes('P12799') && ruolo !== 'P12690' && ruolo !== 'P12799') || hasValidRole(ruolo) || ruolo === 'P12689'"
      (click)="submitIntegrazioneStato()"
      [disabled]="idStatoSalvataggioSegnalazione === 5"
      class="btn-insert"><mat-icon>insert_comment</mat-icon>Inserisci integrazione</button>
      <div *ngIf="(ruolo.includes('P12689') || ruolo.includes('P12690')) && this.aspettoContezioso[0].nuovoAspetto === true" class="btn-add-container tooltip" matTooltip="Prova Prova" [matTooltipDisabled]="true">
        <button mat-button (click)="clickAdd()" [disabled]="idStatoSalvataggioSegnalazione === 5" class="btn-aspetto">
          <mat-icon>add</mat-icon>Approva aspetto</button>
        <span *ngIf="addButton" class="tooltiptext" [ngClass]="addButton ? 'opacity-100' : ''">
          Aggiungere definitivamente il nuovo aspetto?<br>
          <button class="btn-def btn-def-yes" (click)="aggiungiAspetto()" >Si</button>
          <button class="btn-def btn-def-no" (click)="clickAdd()">No</button>
        </span>
      </div>
    </mat-dialog-actions>
  </form>
