// NUOVO
.title {
    color: black;
    font-size: larger;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

// .container-data {
//     display: flex;
//     position: relative;
//     // align-items: center;
//     justify-content: center;
//     margin-top: 20px;
//     // border: 3px solid red;
//     // background-color: lightblue;
//   }

//   .child-data {
//     margin-left: 50px;
//     margin-right: 50px;
//     width: 50%;
//     // border: 2px solid red;
//   }

.container-table {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    // border: 3px solid red;
    // background-color: lightblue;
}

.table {
    width: 75%;
}

.container-buttons {
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
    justify-content: end;
    // border: 3px solid red;
    // background-color: lightblue;
}

.child-buttons {
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.child-buttons-risolvi {
    background-color: #0bca14;
    color: white;
    border: 2px solid #0ca813;
}

.child-buttons-risolvi:hover {
    background-color: #0ca813;
}

.child-buttons-chiudi {
    background-color: #757575;
    color: white;
    border: 2px solid #757575;
}

.child-buttons-chiudi:hover {
    background-color: #585656;
}

.align-text-center {
    text-align: center;
  }