table {
  width: 100%;
}

th {
  color: white !important;
  font-size: 16px;
}

.new-button {
  margin-right: 10px;
}

.dx {
  float: right;
}

.new-ico {
  position: relative;
  top: -1px;
  right: 5px;
  zoom: 1.2;
}

.top-border {
  height: 50px;
  background-color: #2196f3;

  margin-top: 20px;
}
.mat-card-title-mod {
  color: white;
  position: relative;
  top: 6px;
  right: -19px;
}
.mat-card-ico-mod {
  position: relative;
  top: 4px;
  right: 4px;
  zoom: 1.2;
}

html {
  scroll-behavior: smooth;
}

.rotation {
  animation-duration: 1s;
  animation-name: rotate-s-loader;
  animation-timing-function: linear;
  zoom: 1.2;
  position: relative;
  top: 28px;
}

.rotation-div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 100px;
}

.ricerca {
  float: right;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  top: 12px;
  right: 2px;
}

.section-title {
  float: left;
}

.filter-ico {
  float: right;
  position: relative;
  top: 12px;
  right: 5px;
  zoom: 1.2;
  color: #838383;
}

.mat-paginator-empty {
  background-color: rgb(255, 255, 255);
  height: 50px;
}
.section-filtro-att {
  float: left;
  position: relative;
  top: 16px;
}
.box-filtro {
  display: inline;
  padding: 5px 30px 5px 8px;
  border-radius: 25px;
  background-color: #00000085;
  color: white;
  -webkit-box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.53);
}

.clear-filter-ico {
  float: right;
  position: relative;
  top: 0px;
  right: 30px;
  cursor: pointer;
  zoom: 0.8;
  color: #ffffff;
}

.clear-filter-ico:hover {
  color: #e3e3e3;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

.container-data {
  display: flex;
  align-items: flex-end;
}

.child-data {
  margin-right: 16px;
}

.child-data input {
  padding-bottom: 4px;
}

.child-data .mat-select-trigger {
  padding-bottom: 4px;
}

.container-buttons {
  display: flex;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: end;
}

.child-buttons-upload {
  background-color: #4caf50;
  color: white;
  margin-right: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.child-buttons-upload mat-icon {
  margin-right: 8px;
}

.child-buttons-upload:hover {
  background-color: #45a049;
}

.btn-scarica {
  background: #00b050 !important;
  color: white !important;
}

.btn-del {
  background: #e53935 !important;
  color: white;
}
