<nav aria-label="breadcrumb">
  <ol class="matero-breadcrumb">
    <li class="matero-breadcrumb-item"
      *ngFor="let navlink of nav; trackBy: trackByNavlink; first as isFirst; last as isLast">
      <a href="javascript:void(0)" class="link" routerLink="" *ngIf="isFirst">{{navlink}}</a>
      <ng-container *ngIf="!isFirst && !isLast">
        <mat-icon class="chevron">chevron_right</mat-icon>
        <a href="javascript:void(0)" class="link"
           routerLink="{{navlink | clearURL}}">{{navlink | translate}}</a>
      </ng-container>
      <mat-icon class="chevron" *ngIf="isLast">chevron_right</mat-icon>
      <span class="link" *ngIf="isLast">{{navlink | translate}}</span>
    </li>
  </ol>
</nav>

