
.child-buttons {
  // text-align: start;
  // border-radius: 5px;
  // margin-left: 20px;
  margin-right: 0px;
  // padding-left: 15px;
  // padding-top: 5px;
  // padding-right: 15px;
  // padding-bottom: 5px;
}

.title {
  color: black;
  font-size: larger;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}